@import "../reset.css";

.container {
  background-color: blue;
  color: white;
  height: 100vh;
  width: 100%;
}

.row {
  background-color: #121212;
  height: 50%;
}

.col-1 {
  background-color: #121212;
  display: flex;
  float: left;
  width: 20%;
  height: 100%;
}

.col-2 {
  background-color: #121212;
  float: left;
  width: 60%;
  height: 100%;
}
.col-3 {
  background-color: #121212;
  float: left;
  width: 20%;
  height: 100%;
}
