@import "../reset.css";

html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: white;
  box-sizing: border-box;
}

.main-wrapper__wrapper {
  display: flex;
  height: 95vh;
}

.wrapper__column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  height: 100%;
  border: 2px solid #02feff;
}

.wrapper__column:nth-child(2) {
  width: 60vw;
}

.wrapper__column div {
  height: 100%;
  width: 100%;
  border: 2px solid #02feff;
}
