.panel {
  text-align: center;
}

.panel__title {
  text-align: center;
  margin: 20px;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: bold;
}

.panel__subtitle {
  font-size: 15px;
  margin: 10px;
}

.button {
  /* display: inline-flex; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  text-decoration: none;
  background: #4c93be;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 45px;
  padding: 0 30px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  will-change: transform;
  border: none;
  margin: 5px;
}
.button:hover {
  background: darken(#4c93be, 10%);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
  color: #fff;
  text-decoration: none;
}
.button:active {
  box-shadow: 0 1px 1px 0 rgba(78, 74, 74, 0.1);
  transform: translate3d(0, 1px, 0);
}

.button-canvas {
  display: flex;
  margin-left: 10px;
  height: 45px;
  width: 100px;
}

.samples-text-div,
.effects-text-div {
  margin: auto;
}
