@import "../../reset.css";

html,
body {
  height: 100%;
  width: 100%;
  font-family: Lato, Arial, sans-serif;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 97vh;
  background-color: #121212;
  color: white;
  box-sizing: border-box;
}

.main-wrapper__wrapper {
  display: flex;
  height: 97vh;
}

.wrapper__column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  height: 100%;
  border: 2px solid #02feff;
}

.wrapper__column:nth-child(2) {
  width: 60vw;
  border-top: 6px solid #02feff;
  border-bottom: 6px solid #02feff;
}

.wrapper__column .column__samples,
.column__soundeffects,
.column__chatroom {
  height: 100%;
  width: 100%;
  border: 2px solid #02feff;
}
